@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.line {
  width: 70px;
  height: 2px;
  background-color: #000000;
}

.left-circle {
  position: relative;
  height: 24px;
  width: auto;
  display: flex;
  align-items: center;
}

.circle {
  width: 36px;
  height: 36px;
  background-color: #ffa501;
  border-radius: 50%;
  position: absolute;
}

.circle--small {
    height: 15px;
    width: 15px;
}

.left-circle__text {
  position: relative;
  z-index: 5;
  margin-left: 10px;
}

.button {
  height: 45px;
  width: 135px;
  text-align: center;
  padding: 12px 25px 12px 25px;
  font-size: 14px;
}

.button--yellow {
  background-color: #ffa501;
}

.mid-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-circle__text {
  z-index: 5;
  font-weight: bold;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.line--yellow {
  width: 60px;
  height: 3px;
  background-color: #ffa501;
}


.font12 {
    font-size: 12px;
}

.line--thin{
    height: 0.5px;
}

